<!-- Robots parser service written with Rust and JavaScript (Node.js + Express.js + Handlebars.js). -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="http://localhost/robots.txt">
        <title>Robots.txt parser</title>
        <link type="text/css" rel="stylesheet" href="css/dist/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="css/robots.min.css">
        <script type="text/javascript" src="/js/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/js/dist/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/robots.min.js"></script>
    </head>
    <body>
        {{{body}}}
    </body>
</html>
