<div id="submission">
        <h4>Robots parser service</h4>
        <input type="text" name="url" id="url"/>
        <button class="button" onclick="submitRobots();">Submit robots.txt</button>
        </div>